<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title , :class => 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body , :class => 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :end %>
    <%= form.datetime_select :end ,:class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :statuses_id %>
    <%= collection_select( :assignment, :statuses_id, @statuses, :id, :name,  :class => 'form-control' ) %>
  </div>

  <div class="form-group">
    <%= form.label :categories_id %>
    <%= collection_select( :assignment, :categories_id, @categories, :id, :name,  :class => 'form-control' ) %>
  </div>

  <div class="form-group">
    <%= form.submit  :class => 'btn btn-outline-success'%>
  </div>
<% end %>
